%ul
  %li
    = link_to " ", "https://www.facebook.com/adam.dratwinski", class: "find-me-icon icon-facebook"
    = link_to "adam.dratwinski", "https://www.facebook.com/adam.dratwinski"
  %li 
    = link_to " ", "https://plus.google.com/u/0/114751623322945392883/", class: "find-me-icon icon-google-plus"
    = link_to "adam.dratwinski@gmail.com", "https://plus.google.com/u/0/114751623322945392883/"
  %li 
    = link_to " ", "https://github.com/boooz", class: "find-me-icon icon-github"
    = link_to "boooz", "https://github.com/boooz"
