%dl
  %dt= t(".nationality")
  %dd= t(".polish")
  - unless I18n.locale == :pl
    %dt= t(".gender")
    %dd= t(".male")
  %dt= t(".marital_status") 
  %dd= t(".single")
  %dt= t(".date_of_birth")
  %dd= t(".4_of_september") 
  %dt= t(".address") 
  %dd
    Walczaka 57/6, 66-400 Gorzów, Poland
  %dt= t(".phone_number") 
  %dd +48 7222 36066
  %dt= t(".email") 
  %dd adam.dratwinski@gmail.com
  %dt= t(".website") 
  %dd= link_to "adam.itboys.pl", "http://adam.itboys.pl"
  %dt= t(".languages") 
  %dd
    = t(".languages_values")
