%dl
  %dt Backend 
  %dd
    %ul
      %li 
        = stars(5)
        %strong Ruby On Rails 
        %p Have over 2 years experience of Rails and love developing applications in the "Rails Way". Worked with versions 2.x, 3.0, 3.1, 3.2 with many popular gems, have knowledge of capistrano deployment, RSpec testing environment, active participant in the Rails community, creating and updating existing Ruby Gems.
      %li
        = stars(5)
        %strong PHP
        %p Working with PHP since I`m 16. Founder and developer of company framework (modeled on the ROR) which helps to develops large ERP applications (contains over 80 database tables). Have knowledge of frameworks - Kohana, CodeIgniter, Symfony.
      %li 
        = stars(4)
        %strong SQL
        %p Know everything about JOINs, HAVINGs and UNIONs, making query optimalisations, detecting and removing slow queries. Now looking for opportunities to learn and work with large scalable applications.
      %li 
        = stars(4)
        %strong Code Testing
        %p Creating well tested code, using RSpec, Cucumber and Capybara testing frameworks
      %li 
        %strong Good code organisation
        %p adherence to the following rules:  DRY; small functions; one function - one task; MVC; making application in Rails WAY and more...
      %li 
        %strong Database and business logic designing
      %li 
        %strong Knowledge of design patterns

%dl
  %dt Frontend 
  %dd
    %ul
      %li 
        = stars(5)
        %strong HTML 5
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      %li
        = stars(5)
        %strong CSS 3
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut dolore magna aliqua.
      %li
        = stars(5)
        %strong Javascript
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %li
        = stars(5)
        %strong Photoshop
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %li
        %strong Typography
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      %li 
        %strong UI Designing
        %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
%dl
  %dt Server Maintance 
  %dd
    %ul
      %li 
        = stars(5)
        %strong GIT / SVN 
      %li
        = stars(5)
        %strong Apache
      %li
        = stars(4)
        %strong Nginx
      %li
        = stars(4)
        %strong DirectAdmin
      %li
        = stars(4)
        %strong Linux
%dl
  %dt Other
  %dd
    %ul
      %li Management skills; used to work with SCRUM; honesty; communicative - attended in meetings with customers; creative, unconventional thinking; typing speed over 560 chars per minute;
