%dl
  %dt Backend 
  %dd
    %ul
      %li 
        = stars(5)
        %strong Ruby On Rails 
        %p= t(".rails")
      %li
        = stars(5)
        %strong PHP
        %p= t(".php")
      %li 
        = stars(4)
        %strong SQL
        %p= t(".sql")
      %li 
        = stars(4)
        %strong Code Testing
        %p= t(".code_testing")
      %li 
        %strong Design pattern
        %p= t(".design_patterns")
      %li 
        %strong Database and business logic designing

%dl
  %dt Frontend 
  %dd
    %ul
      %li 
        = stars(5)
        %strong HTML 5 & CSS 3
        %p= t(".html5")
      %li
        = stars(5)
        %strong Javascript
        %p= t(".javascript")
      %li
        = stars(5)
        %strong Photoshop
        %p= t(".photoshop")
      %li 
        %strong UI Designing
        %p= t(".ui_design")
%dl
  %dt= t(".server_maintenance_label")
  %dd.server-maintenance
    %ul
      %li 
        = stars(5)
        %strong GIT / SVN 
      %li
        = stars(5)
        %strong Apache
      %li
        = stars(4)
        %strong Nginx
      %li
        = stars(4)
        %strong DirectAdmin
      %li
        = stars(4)
        %strong Linux
%dl
  %dt= t(".other_label")
  %dd
    %ul
      %li 
        %p= t(".other")
