.page
  %h1.full-name Adam Dratwiński
  .me-wrapper
    .me
      = image_tag "/assets/me.jpg"
  %section#personal_info_group.group
    %h2= t(".personal_info_header")
    = render "personal_info"
  %section#personal_statement_group.group.underlined
    %h2= t(".personal_statement_header")
    = render "personal_statement"
  %section#education_group.group
    %h2= t(".education_header") 
    = render "education"
  %section#work_experience_group.group
    %h2= t(".work_experience_header")
    = render "work_experience"
  %section#skills_group.group
    %h2= t(".skills_header")
    = render "skills"
  %section#references_group.group
    %h2= t(".references_header")
    = render "references"
  %section#hobbies_group.group.underlined
    .hobbies
      %h2= t(".hobbies_header")
      = render "hobbies"
  %section#find_me_group.group.underlined
    .find-me
      %h2= t(".find_me_on_header")
      = render "find_me"
  %section#looking_for_group.group.underlined
    .looking-for
      %h2= t(".looking_for_header") 
      %p= t(".looking_for")
